<%if !signed_in? %>
  <h1>Welcome to Snap</h1>



<%else%>

<div id="wrapper" class="BoardLayout" >
  <div id="ColumnContainer" >

    <section class="content">
      <%= render :partial => 'shared/photos_paginate' %>
    </section>

  </div>
</div>
<%end%>

