<%if !signed_in? %>
  <%= render partial: "layouts/welcome" %>
<%else%>
<div id="wrapper" class="BoardLayout" >
  <div id="ColumnContainer" >

    <section class="content">
      <%= render :partial => 'shared/photos_paginate' %>
    </section>

  </div>
</div>
<%end%>

