<a href="javascript:{
  var pop = document.createElement('div');
  pop.className += 'pon-popup';
  var pop_sub = document.createElement('div');
  pop_sub.className += 'pon-popup-sub';
  var div_h = document.createElement('div');
  div_h.className += 'pon-form-holder';
  var div_i = document.createElement('div');
  div_i.className += 'pon-image-holder';
  var f = document.createElement('form');
  f.method = 'post';
  f.action = 'http://localhost:3000/photos/';
  f.character_set = 'utf-8';
  f.setAttribute('data-remote',true);

  var inp_loc = document.createElement('input');
  inp_loc.name = 'location';
  inp_loc.type = 'hidden';
  inp_loc.value = document.URL;

  var inp_rem = document.createElement('input');
  inp_rem.type = 'hidden';
  inp_rem.name = 'photo[remote_image_url]';

  var inp_box = document.createElement('select');
  inp_box.name = 'photo[box_id]';

  var boxes = [{val: 1,key: 'Sipes and Sons'},{val: 6,key: 'Abunias coa'}];

  var option;

  boxes.forEach(function(e) {
    option = document.createElement('option');
    option.innerHTML = e.key;
    option.value = e.val;
    inp_box.add(option,null);
  });

  var inp_nam = document.createElement('input');
  inp_nam.type = 'text';
  inp_nam.name = 'photo[name]';


  var inp_des = document.createElement('textarea');
  inp_des.type = 'textarea';
  inp_des.setAttribute('rows','20');
  inp_des.setAttribute('cols','40');
  inp_des.name = 'photo[description]';


  var bt = document.createElement('input');
  bt.type = 'submit';
  bt.value = 'PON';
  bt.disabled = 'disabled';

  var label;

  f.appendChild(inp_loc);
  f.appendChild(inp_rem);

  label = document.createElement('h3');
  label.innerHTML = 'Board';
  f.appendChild(label);
  f.appendChild(inp_box);

  label = document.createElement('h3');
  label.innerHTML = 'Name';
  f.appendChild(label);
  f.appendChild(inp_nam);

  label = document.createElement('h3');
  label.innerHTML = 'Descrption';
  f.appendChild(label);
  f.appendChild(inp_des);

  f.appendChild(bt);

  div_h.appendChild(f);


  nl = document.getElementsByTagName('img');
  var arr = [];
  for(var i = nl.length; i--; arr.unshift(nl[i]));
  arr.forEach(function(e) {
    a = /.*\.(\w+)/.exec(e.src);
    if(a && a[1] != 'gif') {
      img = document.createElement('img');
      img.src = e.src;
      if(img.width > 100) {
        img.className +='pon-img';
        img.onclick = function() {
          nl_c = document.getElementsByClassName('pon-img-chosen');
          arr = [];
          for(var i = nl_c.length; i--; arr.unshift(nl_c[i]));
          arr.forEach(function(e) {
            e.className = 'pon-img';
          });

          this.className += ' pon-img-chosen';
          f.appendChild(inp_rem);
          inp_rem.value = this.src;
          bt.removeAttribute('disabled');

        };
        div_i.appendChild(img);
      }
    }
  });


  label = document.createElement('h2');
  label.innerHTML = 'Pon It';
  pop_sub.appendChild(label);
  pop_sub.appendChild(div_h);
  pop_sub.appendChild(div_i);

  pop.appendChild(pop_sub);


  var css = document.createElement('style');
  css.type = 'text/css';
  css.innerHTML = '
    .pon-popup {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      overflow: auto;
      background: rgba(226, 228, 228, 0.84);
      z-index: 999;
    }
    .pon-popup-sub {
      filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
      opacity: 1;
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      -o-transform: scale(1);
      transform: scale(1);
      -webkit-border-radius: 3px350px;
      -moz-border-radius: 3px;
      -ms-border-radius: 3px;
      -o-border-radius: 3px;
      border-radius: 3px;
      -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
      -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
      box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
      filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
      opacity: 1;
      background: #fff;
      margin: 100px auto 0;
      position: relative;
      text-align: left;
      width: 750px;
      min-height: 300px;
      padding-bottom: 15px;

    }
    .pon-popup .pon-form-holder {
      width: 350px;
      display: inline-block;
      vertical-align: top;
    }
    .pon-popup h3 {
      width: 100px;
      display: inline-block;
      padding-left: 10px;
      vertical-align: top;

    }
    .pon-popup h2 {
      text-align: left;
      border-bottom: 1px solid #e7e7e7;
      color: #333;
      font-size: 24px;
      font-weight: bold;
      margin: 0;
      min-height: 20px;
      padding: 17px 18px 13px 18px;
      position: relative;
      white-space: nowrap;
      overflow: hidden;
      -ms-text-overflow: ellipsis;
      -o-text-overflow: ellipsis;
      text-overflow: ellipsis;
    }
    .pon-form-holder select {
      width: 220px;
      margin-top: 11px;
    }
    .pon-form-holder input[type=\'text\'] {
      margin-top: 11px;
      width: 214px;
      line-height: 18px;
      color: #555555;
      border: 1px solid #ccc;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
    }
    .pon-form-holder textarea[name*=\'description\'] {
      width: 214px;
      margin-top: 11px;
      height: 120px;
      color: #555555;
      border: 1px solid #ccc;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
      resize: none;
    }
    .pon-form-holder input[type=\'submit\'] {
      margin: 20px 0 0 250px;
      border: 1px solid white;
      color: white;
      border-radius: 5px;
      height: 40px;
      width: 80px;
      font-weight: bold;
      background: #e570e7;
      background: -moz-linear-gradient(top, #e570e7 0%, #c85ec7 47%, #a849a3 100%);
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e570e7), color-stop(47%,#c85ec7), color-stop(100%,#a849a3));
      background: -webkit-linear-gradient(top, #e570e7 0%,#c85ec7 47%,#a849a3 100%);
      background: -o-linear-gradient(top, #e570e7 0%,#c85ec7 47%,#a849a3 100%);
      background: -ms-linear-gradient(top, #e570e7 0%,#c85ec7 47%,#a849a3 100%);
      background: linear-gradient(to bottom, #e570e7 0%,#c85ec7 47%,#a849a3 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=\'#e570e7\', endColorstr=\'#a849a3\',GradientType=0 );
    }
    .pon-popup .pon-image-holder {
      width: 395px;
      min-height: 340px;
      display: inline-block;
      padding-top: 2px;
      padding-left: 2px;
      border-left: 1px solid #e7e7e7
    }
    .pon-img {
      opacity: 0.7;
      width: 123px;
      border: 2px solid rgba(175, 175, 175, 0.58);
      margin: 2px;
      vertical-align: top;
      float: left;
    }
    .pon-img-chosen {
      opacity: 1;
      border: 2px solid rgba(228, 22, 154, 0.81)
    }
  ';

  document.body.appendChild(css);
  document.body.appendChild(pop);
  }"> Pon It </a>



<%if !signed_in? %>
  <%= render partial: "layouts/welcome" %>
<%else%>
<div id="wrapper" class="BoardLayout" >
  <div id="ColumnContainer" >

    <section class="content">
      <%= render :partial => 'shared/photos_paginate' %>
    </section>

  </div>
</div>
<%end%>

