<%= render :partial => 'users/commonView' %>
<section class="content">
    <%= render :partial => 'shared/photos_paginate' %>
</section>

<script type="text/javascript">
  var change_avatar = function(e) {
    readURL(e);
    $(".edit_user").submit();
  }
</script>
