<div class="row center search-row">
  <h1>Likes</h1>
</div>

<div class="content">
  <div class="user-in-boxes-holder">
    <% @users.each do |user| %>
      <%= render partial: "users/user_in_box" ,locals: {user: user} %>
    <%end%>
  </div>
</div>

