.headerBackground {
  -webkit-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.1);
  -moz-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.1);
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.1);
  -webkit-transform: translateZ(0);
  background: #fff;
  border-bottom: solid 1px #bebebe;
  height: 44px;
  position: fixed;
  z-index: 670;
}

.headerBackground, .headerContainer {
  left: 0;
  position: fixed;
  top: 0;
  right: 0;
}

.headerContainer {
  overflow: hidden;
  -webkit-transform: translateZ(0);
  display: block;
  height: 29px;
  overflow: visible;
  padding: 7px 0 0;
  position: fixed;
  z-index: 680;
}

.centeredWithinWrapper {
  margin: 0 auto;
  width: 100% !important;
}

.Header .headerContainer .leftHeaderContent {
  margin-left: 7px;
  float: left;
  width: 236px;
}

.categoriesButton {
  float: left;
  margin-right: 6px;
  height: 30px;
  button.btn.categories {
    height: 30px;
    width: 36px;
  }
  .Button.btn, .Button.moreItems:hover {
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #f0f0f0));
    background: -webkit-linear-gradient(#ffffff,#f0f0f0);
    background: -moz-linear-gradient(#ffffff,#f0f0f0);
    background: -o-linear-gradient(#ffffff,#f0f0f0);
    background: linear-gradient(#ffffff,#f0f0f0);
    background-color: #f0f0f0;
    border: 1px solid #cbcbcb;
    border-bottom-color: #bebebe;
    border-top-color: #d1d1d1;
    color: #5f5f5f;
    cursor: pointer;
    font-weight: bold;
    text-shadow: 0 1px #fff;
    white-space: nowrap;
  }
}

.HoverButton {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  zoom: 1;
  position: relative;
}

.categoriesButton .categories {
  padding: 2px 0 0;

  .Button.btn.rounded, .Button.moreItems:hover.rounded {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
  }
}

.HoverButton>.Button {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  zoom: 1;
}

.Button.categories em {
  height: 13px;
  width: 16px;
  background: url('/assets/p0.png') 0 -1569px no-repeat;
  background-position: 0 -1569px;
  top: -2px;
  font-size: 100%;
}

.Button em {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  zoom: 1;
  position: relative;
  vertical-align: middle;
}

.Button .accessibilityText {
  font: 0/0 serif;
  text-shadow: none;
  color: transparent;
  position: absolute;
}

.Header .ui-SearchForm {
  float: left;
}

.ui-SearchForm {
  position: relative;
  width: 194px;
}

.ui-SearchForm .ui-TypeaheadField {
  float: left;
  width: 195px;
}

.ui-TypeaheadField.search .field {
  -webkit-font-smoothing: antialiased;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 1px rgba(0,0,0,0.44) inset;
  -moz-box-shadow: 0 0 1px rgba(0,0,0,0.44) inset;
  box-shadow: 0 0 1px rgba(0,0,0,0.44) inset;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #faf9f7;
  border-bottom: 1px solid #c2c2c2;
  border-left: 1px solid #bebebe;
  border-right: 1px solid #bebebe;
  border-top: 1px solid #bebebe;
  color: #717171;
  font-size: 13px;
  font-weight: bold;
  margin: 0;
  outline: none;
  padding: 6px 30px 6px 9px;
  position: relative;
  width: 100%;
  z-index: 670;
}

.ui-SearchForm .submit {
  cursor: pointer;
  height: 20px;
  width: 20px;
  background: url('/assets/p0.png') 0 -1535px no-repeat;
  background-position: 0 -1535px;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  zoom: 1;
  font: 0/0 serif;
  text-shadow: none;
  color: transparent;
  border: none;
  position: absolute;
  right: 9px;
  top: 7px;
  z-index: 671;
}

.Header .headerContainer .rightHeaderContent {
  float: right;
  margin-right: 10px;
  width: 234px;
}

.Header .UserMenu {
  float: left;
}

.UserMenu {
  z-index: 672;
  -webkit-font-smoothing: antialiased;
  /* background: #fff url(images/icon_dropdown_caret.3faee274.png) 217px 12px no-repeat; */
  background: none 217px 12px no-repeat,-webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #f0f0f0));
  /* background: url(images/icon_dropdown_caret.3faee274.png) 217px 12px no-repeat,-webkit-linear-gradient(#ffffff,#f0f0f0); */
  /* background: url(images/icon_dropdown_caret.3faee274.png) 217px 12px no-repeat,-moz-linear-gradient(#ffffff,#f0f0f0); */
  /* background: url(images/icon_dropdown_caret.3faee274.png) 217px 12px no-repeat,-o-linear-gradient(#ffffff,#f0f0f0); */
  /* background: url(images/icon_dropdown_caret.3faee274.png) 217px 12px no-repeat,linear-gradient(#ffffff,#f0f0f0); */
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-font-smoothing: subpixel-antialiased;
  background-color: #f0f0f0;
  border: 1px solid #c1c1c1;
  color: #888;
  cursor: pointer;
  float: right;
  font-size: 13px;
  font-weight: bold;
  position: relative;
  width: 236px;
}

.UserMenu .usernameLink {
  float: left;
}

.UserMenu {
  color: #888;
  cursor: pointer;
  font-size: 13px;
  font-weight: bold;
}

.UserMenu .profileImage {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -webkit-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  -ms-border-radius: 3px 0 0 3px;
  -o-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
  -webkit-box-shadow: 0 0 2px #616161 inset;
  -moz-box-shadow: 0 0 2px #616161 inset;
  box-shadow: 0 0 2px #616161 inset;
  float: left;
  height: 30px;
  margin: -1px;
  width: 30px;
}

.Header .UserMenu .profileName {
  padding-right: 9px;
  width: 135px;
}

.UserMenu .profileName {
  white-space: nowrap;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  display: block;
  float: left;
  height: 21px;
  padding: 6px 0 1px 10px;
  color: #888;
}

.UserMenu:hover, .UserMenu.hoverButtonActive, .UserMenu.active {
  -webkit-font-smoothing: antialiased;
  /* background: #d62229 url(images/icon_dropdown_caret_hover.912fc292.png) 217px 11px no-repeat; */
  /* background: url(images/icon_dropdown_caret_hover.912fc292.png) 217px 11px no-repeat,-webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #d62229), color-stop(100%, #ab171e)); */
  /* background: url(images/icon_dropdown_caret_hover.912fc292.png) 217px 11px no-repeat,-webkit-linear-gradient(#d62229,#ab171e); */
  /* background: url(images/icon_dropdown_caret_hover.912fc292.png) 217px 11px no-repeat,-moz-linear-gradient(#d62229,#ab171e); */
  /* background: url(images/icon_dropdown_caret_hover.912fc292.png) 217px 11px no-repeat,-o-linear-gradient(#d62229,#ab171e); */
  /* background: url(images/icon_dropdown_caret_hover.912fc292.png) 217px 11px no-repeat,linear-gradient(#d62229,#ab171e); */
  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  -ms-border-radius: 3px 3px 0 0;
  -o-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
  background: #5bb65b;
  border: 1px solid #5bb65b;
  span {

    color: white;
  }
}

/* dropdown */

.UserMenu.Module {
  &:hover {
    & ~ #UserDropdown {
      & > .dropdownContainer {
        display: block !important;
      }
    }
  }
}

.categoriesButton.Module {
  &:hover {
    & > .categories.Button {
      background: #5bb65b;
      background-image: -moz-linear-gradient(top, #62c462, #51a351);
      background-image: -ms-linear-gradient(top, #62c462, #51a351);
      background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#62c462), to(#51a351));
      background-image: -webkit-linear-gradient(top, #62c462, #51a351);
      background-image: -o-linear-gradient(top, #62c462, #51a351);
      background-image: linear-gradient(top, #62c462, #51a351);
      background-repeat: repeat-x;
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF62C462', endColorstr='#FF51A351', GradientType=0);
      border-color: #51a351 #51a351 #387038;
      border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) fadein(rgba(0, 0, 0, 0.1), 15%);
      filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);

      /* background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e63d44), color-stop(100%, #c11a22)); */
      /* background-image: -webkit-linear-gradient(#e63d44,#c11a22); */
      /* background-image: -moz-linear-gradient(#e63d44,#c11a22); */
      /* background-image: -o-linear-gradient(#e63d44,#c11a22); */
      /* background-image: linear-gradient(#e63d44,#c11a22); */
      -webkit-box-shadow: 0 1px 3px 0 rgba(0,0,0,0.22);
      -moz-box-shadow: 0 1px 3px 0 rgba(0,0,0,0.22);
      box-shadow: 0 1px 3px 0 rgba(0,0,0,0.22);
      border: 1px solid #5bb65b;
      & > em {
        height: 13px;
        width: 16px;
        background: url('/assets/p0.png') 0 -192px no-repeat;
        background-position: 0 -192px;
      }
    }
    & ~ #CategoriesDropdown {
      & .dropdownContainer {
        display: block !important;
      }
      & .caret {
        display: block !important;
      }
    }
  }
}

.categoriesDropdownWrapper {
  &:hover {
    & .dropdownContainer {
      display: block !important;
    }
    & .caret {
      display: block !important;
    }
  }
}

.Dropdown {
  text-align: left;
}

.Dropdown .dropdownContainer.fixedDropdownContainer {
  z-index: 671;
}

.Dropdown .userDropdown {
  margin-left: 1px;
  top: 8px !important;
}

.Dropdown .dropdownContainer {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 4px 0 rgba(0,0,0,0.44);
  -moz-box-shadow: 0 1px 4px 0 rgba(0,0,0,0.44);
  box-shadow: 0 1px 4px 0 rgba(0,0,0,0.44);
  background: #fff;
  right: 7px;
  position: fixed;
  display: none;
  z-index: 695;

}

.UserDropdown {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.4);
  -moz-box-shadow: 0 1px 4px rgba(0,0,0,0.4);
  box-shadow: 0 1px 4px rgba(0,0,0,0.4);
  background: #fff;
  padding-top: 30px;
  width: 236px;
}

.Module.Dropdown {
  & .dropdownContainer {
    &:hover {
      display: block !important;
    }
  }
}

.Module .moduleMask {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  background: #fff;
  display: none;
  position: absolute;
  z-index: 660;
}

.Dropdown li:first-child {
  padding-top: 5px;
}

.Dropdown li {
  overflow: hidden;
  color: #777;
  display: block;
  font-size: 12px;
  list-style: none;
}

.Dropdown li a {
  -webkit-font-smoothing: antialiased;
  font-family: 'Helvetica', sans-serif;
  font-weight: bold;
  color: #777;
  cursor: pointer;
  display: block;
  padding: 9px 14px;
}

.UserDropdown li:last-child {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
.Dropdown li:last-child {
  padding-bottom: 5px;
}

.Dropdown li a {
  color: #717171;
  font-weight: bold;
  text-decoration: none;
}

.Dropdown li a:hover {
  background: #f1f1f1;
  color: #333;
}

/* category dropdown */
.Dropdown .caret.fixedCaret {
  position: fixed;
  z-index: 672;
}

.Dropdown .caret.large {
  height: 13px;
  width: 27px;
  background: url('/assets/p0.png') 0 -994px no-repeat;
  background-position: 0 -994px;
}

.Dropdown .caret {
  opacity: 1;
  height: 11px;
  width: 20px;
  background: url('/assets/p0.png') 0 -1188px no-repeat;
  background-position: 0 -1188px;
  display: none;
  position: absolute;
  top: -9px;
  z-index: 696;
  border: none;
}

.Dropdown .dropdownContainer.fixedDropdownContainer {
  z-index: 671;
}

.Dropdown .categoriesMenu {
  bottom: 20px;
  height: 420px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-overflow-scrolling: touch;
  overflow-y: auto;
  text-align: left;
  width: 660px;
  .firstColumn {
    float: left;
    padding-left: 10px;
  }
  .secondColumn {
    float: left;
    padding-left: 10px;
    padding-right: 10px;
  }
  .thirdColumn {
    float: right;
    padding-right: 10px;
  }
}

.Dropdown .dropdownContainer {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 4px 0 rgba(0,0,0,0.44);
  -moz-box-shadow: 0 1px 4px 0 rgba(0,0,0,0.44);
  box-shadow: 0 1px 4px 0 rgba(0,0,0,0.44);
  background: #fff;
  display: none;
  position: absolute;
  z-index: 695;
}

.CategoriesMenu .firstColumn, .CategoriesMenu .secondColumn, .CategoriesMenu .thirdColumn {
  padding-bottom: 6px;
  padding-top: 6px;
}

.CategoriesMenu ul {
  width: 201px;
  margin: 0;
  padding: 0;
}

.CategoriesMenu .categoriesWrapper {
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  overflow-y: auto;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  height: auto;
  margin-bottom: 34px;
  position: absolute;
}

.CategoriesMenu .AboutLinks {
  -webkit-border-radius: 0 0 3px 3px;
  -moz-border-radius: 0 0 3px 3px;
  -ms-border-radius: 0 0 3px 3px;
  -o-border-radius: 0 0 3px 3px;
  border-radius: 0 0 3px 3px;
  overflow: hidden;
  background: #f5f5f5;
  bottom: 0;
  border-top: 1px solid #ebebeb;
  clear: both;
  left: 0;
  position: absolute;
  right: 0;
}

.AboutLinks {
  padding: 11px 15px 9px;
}

.CategoriesMenu .AboutLinks ul {
  width: 100%;
}

.AboutLinks li {
  display: inline;
  float: left;
  padding: 0 4px;
}

Dropdown .categoriesMenu li:first-child, .Dropdown .categoriesMenu li:last-child, .Dropdown .AboutLinks li:first-child, .Dropdown .AboutLinks li:last-child {
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 0;
  padding-top: 0;
}

.Dropdown .categoriesMenu li:first-child, .Dropdown .categoriesMenu li:last-child, .Dropdown .AboutLinks li:first-child, .Dropdown .AboutLinks li:last-child {
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 0;
  padding-top: 0;
}

.Dropdown .categoriesMenu li:first-child, .Dropdown .categoriesMenu li:last-child, .Dropdown .AboutLinks li:first-child, .Dropdown .AboutLinks li:last-child {
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 0;
  padding-top: 0;
}

.Dropdown .categoriesMenu li:first-child, .Dropdown .categoriesMenu li:last-child, .Dropdown .AboutLinks li:first-child, .Dropdown .AboutLinks li:last-child {
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 0;
  padding-top: 0;
}

.AboutLinks li:first-child a {
  margin-left: 0;
}

.AboutLinks li a {
  font-family: 'Helvetica', sans-serif;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  zoom: 1;
  color: #999;
  font-size: 12px;
  padding: 0 !important;
  text-decoration: none;
}

.AboutLinks li a:after {
  content: ".";
  position: relative;
  right: -4px;
  top: -3px;
}

.Dropdown.active .caret, .Dropdown.active .dropdownContainer {
  display: block;
}
