
/**** Demos ****/

#container {
  /* min-height: 100%; */
  /* margin-left: 30px; */
  /* background: #f7f5f5 url(../images/paper.jpg) repeat; */
  /* padding: 5px; */
  /* margin-bottom: 20px; */
  margin: 0 auto;
  border-radius: 5px;
  clear: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.container::after{
  clear: none;
}

.centered { margin: 0 auto; }

.box {
  margin: 5px;
  /* background: #D8D5D2; */
  font-size: 11px;
  line-height: 1.4em;
  float: left;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;

  border: 0 0 1px 0  solid #CFCACA;
  /* width: 1; */
  /* position: absolute; */
  -webkit-box-shadow: 0 1px 10px rgba(34, 25, 25, 0.4);
  background-color: white;
  box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
  /* -webkit-transition-property: top; */

}

.box h2 {
  font-size: 14px;
  font-weight: 200;
}

.rtl .box {
  float: right;
  text-align: right;
  direction: rtl;
}



.col1 { width: 80px; }
.col2 { width: 236px; }
.col3 { width: 280px; }
.col4 { width: 380px; }
.col5 { width: 480px; }

.col1 img { max-width: 80px; }
.col2 img { max-width: 236px; }
.col3 img { max-width: 280px; }
.col4 img { max-width: 380px; }
.col5 img { max-width: 480px; }

/**** Gutters ****/

.has-gutters .box {
  margin: 5px 0;
}

.has-gutters .col1 { width: 90px; }
.has-gutters .col2 { width: 230px; }
.has-gutters .col3 { width: 370px; }
.has-gutters .col4 { width: 550px; }

/**** Transitions ****/

.transitions-enabled.masonry,
.transitions-enabled.masonry .masonry-brick {
  -webkit-transition-duration: 0.7s;
  -moz-transition-duration: 0.7s;
  -o-transition-duration: 0.7s;
  transition-duration: 0.7s;
}

.transitions-enabled.masonry {
  -webkit-transition-property: height, width;
  -moz-transition-property: height, width;
  -o-transition-property: height, width;
  transition-property: height, width;
}

.transitions-enabled.masonry  .masonry-brick {
  /* -webkit-transition-property: left, right, top; */
  /* -moz-transition-property: left, right, top; */
  /* -o-transition-property: left, right, top; */
  /* transition-property: left, right, top; */
  -webkit-transition-property: top;
  -moz-transition-property: top;
  -o-transition-property: top;
  transition-property: top;

  border: 0 0 1px 0  solid #CFCACA;
  width: 1;
  position: absolute;
  -webkit-box-shadow: 0 1px 10px rgba(34, 25, 25, 0.4);
  background-color: white;
  box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
  -webkit-transition-property: top;
}


/* disable transitions on container */
.transitions-enabled.infinite-scroll.masonry {
  -webkit-transition-property: none;
  -moz-transition-property: none;
  -o-transition-property: none;
  transition-property: none;
}

