// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.board > .holder {
  .cover-preview {
    display: table-cell;
    vertical-align: middle;
    width: 236px;
    height: 150px;
    background: #DADADA;
    overflow: hidden;
    text-align: center;
  }
}

.sortable {display: block;zoom: 1;}
.sortable li {display: inline-block;width: 236px;height: 304px;margin: 14px 7px 0 7px;float: left}
.sortable .pinBoard { position: relative; }
.boxes-holder {margin: 0 auto}

.createBoard {
  text-align: center;
  .FancyContainer {
    width:224px;
    margin: 0 auto;
  }
}



.signup-form-holder {
  position: relative;
  padding: 5px;
  width: 555px;
  margin: 0 auto;
  background: none;
  padding-top: 0px;
  z-index: 20;
  .new_user,.edit_user {
    .avatar-holder {
      position: absolute;
      height: 200px;
      width: 200px;
      top: 0px;
      background: #fff;
      -moz-box-shadow: 0 1px 3px rgba(34,25,25,0.5);
      -webkit-box-shadow: 0 1px 3px rgba(34,25,25,0.5);
      box-shadow: 0 1px 3px rgba(34,25,25,0.5);
      padding: 4px;
      .avatar-frame {
        max-height: 200px;
        overflow: hidden;
        img {
          width: 200px;
        }
      }
      .avatar-button {
        z-index: 1;
        bottom: 10px;
        left: 0;
        position: absolute;
        text-align: center;
        width: 100%;
        opacity: 0.6;
        label {
          cursor: pointer;
          display: inline-block;
          font-family: "helvetica neue",arial,sans-serif;
          font-weight: bold;
          line-height: 1em;
          margin: 0;
          padding: .45em .825em .45em;
          text-align: center;
          -webkit-border-radius: 4px;
          border-radius: 4px;
          font-size: 13px;
          background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fdfafb), to(#f0eded), color-stop(.5,#f9f7f7),color-stop(.5,#f6f3f4));
          background-image: -moz-linear-gradient(top, #fdfafb, #f9f7f7 50%, #f6f3f4 50%, #f0eded);
          background-image: -o-linear-gradient(top, #fdfafb, #f9f7f7 50%, #f6f3f4 50%, #f0eded);
          background-image: -webkit-linear-gradient(top, #fdfafb, #f9f7f7 50%, #f6f3f4 50%, #f0eded);
          border-color: #bbb;
          color: #524d4d;
          filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fdfafb', endColorstr='#f0eded');
          text-shadow: 0 1px rgba(255,255,255,0.9);
          -moz-box-shadow: inset 0 1px rgba(255,255,255,0.35), 0 0 0 1px rgba(140,126,126,0.5);
          -webkit-box-shadow: inset 0 1px rgba(255,255,255,0.35), 0 0 0 1px rgba(140,126,126,0.5);
          box-shadow: inset 0 1px rgba(255,255,255,0.35), 0 0 0 1px rgba(140,126,126,0.5);
        }
      }

      input[type='file'] {
        height: 24px;
        margin: 0;
        position: absolute;
        bottom: 10px;
        z-index: 2;
        opacity: 0;
        cursor: pointer;
        left: 0px;
      }
      input[type='file']:hover ~ .avatar-button {
        opacity: 1;
        label {
          -webkit-box-shadow: inset 0 1px rgba(255,255,255,0.35), 0 0 0 1px rgba(140,126,126,0.5), 0 1px 2px rgba(35,24,24,0.75);
          box-shadow: inset 0 1px rgba(255,255,255,0.35), 0 0 0 1px rgba(140,126,126,0.5), 0 1px 2px rgba(35,24,24,0.75);
        }
      }
    }
    .user-infos {
      position: absolute;
      left: 220px;
      input[type='text'],input[type='password'] {
        width: 250px;
        border-radius: 5px;
      }
    }
  }

  #error_explanation {
    margin-left: 220px;
    text-align: left;
  }
}


.edit_user {
  .basic-settings {
    display: block;
    height: 230px;
  }
  .social-btns-holder {
    width: 100%;
    position: absolute;
    top: 310px;
    .social-btn {
      width: 100%;
      margin: 10px 0;
    }
  }
}


.user-show-header-holder {
  display: table;
  margin: 14px auto;
  .user-show-profile {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 3px 0 rgba(0,0,0,0.33);
    -moz-box-shadow: 0 1px 3px 0 rgba(0,0,0,0.33);
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.33);
    background: #fff;
    overflow: hidden;
    color: #333;
    float: left;
    height: 153px;
    position: relative;
    width: 736px;
    .avatar-holder {
      position: relative;
      display: inline-block;
      height: 153px;
      width: 153px;
      top: 0px;
      -webkit-box-shadow: -1px 0 rgba(0,0,0,0.1) inset;
      -moz-box-shadow: -1px 0 rgba(0,0,0,0.1) inset;
      box-shadow: -1px 0 rgba(0,0,0,0.1) inset;
      .avatar-frame {
        border-radius: 4px 0 0 4px;
        max-height: 153px;
        overflow: hidden;
        img {
          width: 100%;
        }
      }
      .avatar-button {
        z-index: 1;
        bottom: 10px;
        left: 0;
        position: absolute;
        text-align: center;
        width: 100%;
        opacity: 0.1;
        label {
          cursor: pointer;
          display: inline-block;
          font-family: "helvetica neue",arial,sans-serif;
          font-weight: bold;
          line-height: 1em;
          margin: 0;
          padding: .45em .825em .45em;
          text-align: center;
          -webkit-border-radius: 4px;
          border-radius: 4px;
          font-size: 13px;
          background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fdfafb), to(#f0eded), color-stop(.5,#f9f7f7),color-stop(.5,#f6f3f4));
          background-image: -moz-linear-gradient(top, #fdfafb, #f9f7f7 50%, #f6f3f4 50%, #f0eded);
          background-image: -o-linear-gradient(top, #fdfafb, #f9f7f7 50%, #f6f3f4 50%, #f0eded);
          background-image: -webkit-linear-gradient(top, #fdfafb, #f9f7f7 50%, #f6f3f4 50%, #f0eded);
          border-color: #bbb;
          color: #524d4d;
          filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fdfafb', endColorstr='#f0eded');
          text-shadow: 0 1px rgba(255,255,255,0.9);
          -moz-box-shadow: inset 0 1px rgba(255,255,255,0.35), 0 0 0 1px rgba(140,126,126,0.5);
          -webkit-box-shadow: inset 0 1px rgba(255,255,255,0.35), 0 0 0 1px rgba(140,126,126,0.5);
          box-shadow: inset 0 1px rgba(255,255,255,0.35), 0 0 0 1px rgba(140,126,126,0.5);
        }
      }

      input[type='file'] {
        height: 24px;
        margin: 0;
        position: absolute;
        bottom: 10px;
        z-index: 2;
        opacity: 0;
        cursor: pointer;
        left: 0px;
      }
      input[type='file']:hover ~ .avatar-button {
        opacity: 1;
        label {
          -webkit-box-shadow: inset 0 1px rgba(255,255,255,0.35), 0 0 0 1px rgba(140,126,126,0.5), 0 1px 2px rgba(35,24,24,0.75);
          box-shadow: inset 0 1px rgba(255,255,255,0.35), 0 0 0 1px rgba(140,126,126,0.5), 0 1px 2px rgba(35,24,24,0.75);
        }
      }
    }
    .user-infos {
      display: inline-block;
      vertical-align: top;
      h2.user-name {
        white-space: nowrap;
        overflow: hidden;
        -ms-text-overflow: ellipsis;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
        color: #333;
        color: rgba(21,21,21,0.8);
        text-shadow: 1px 2px 4px #fff,0 0 0 #000,1px 2px 4px #fff,0 1px 0 #fff;
        font-size: 27px;
        font-weight: bold;
        margin-bottom: 2px;
        margin-left: 15px;
        margin-top: 12px;
      }
    }
  }

  .user-show-repon-owner {
    webkit-font-smoothing: antialiased;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 3px 0 rgba(0,0,0,0.33);
    -moz-box-shadow: 0 1px 3px 0 rgba(0,0,0,0.33);
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.33);
    background: #fff;
    overflow: hidden;
    float: left;
    height: 126px;
    margin-left: 14px;
    margin-top: -1px;
    padding: 14px;
    width: 208px;
    h3 {
      font-family: 'Helvetica', sans-serif;
      font-weight: bold;
      color: #565656;
      font-size: 13px;
      margin-top: 0;
      margin-bottom: 13px;
    }
    li {
      margin-bottom: 5px;
      a {
        font-weight: bold;
        color: #777;
        display: block;
      }
    }
  }
}

.big-title {
  color: rgba(21,21,21,0.8);
  text-shadow: 1px 2px 4px #e3e3e3,0 0 0 #000,1px 2px 4px #e3e3e3,0 1px 0 #fff;
  font-size: 47px;
  font-weight: bold;
  line-height: 52px;
  margin-left: auto;
  margin-right: auto;
  max-width: 736px;
  text-align: center;
  line-height: 54px;
  margin-top: 25px;
  margin-bottom: 52px;
  white-space: nowrap;
  overflow: hidden;
}

.user-in-boxes-holder {
  min-height: 330px;
}
.content {
  width: 1250px;
  margin: 0 auto;
}

.user-in-box-item {
  margin: 14px 7px 0 7px;
  float: left;
  .user-in-box {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 1px 3px 0 rgba(0,0,0,0.33);
    -moz-box-shadow: 0 1px 3px 0 rgba(0,0,0,0.33);
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.33);
    background: #fff;
    height: 302px;
    width: 236px;
    position: relative;
    a {
      text-decoration: none;
      display: block;
      padding: 10px;
      .username {
        -webkit-font-smoothing: antialiased;
        white-space: nowrap;
        overflow: hidden;
        -ms-text-overflow: ellipsis;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
        color: #555;
        display: block;
        font-size: 14px;
        font-weight: bold;
        height: 18px;
        margin: 0 3px 6px;
        position: relative;
      }
      .userThumbs {
        overflow: hidden;
        margin-bottom: 7px;
        .user-avatar{
          position: relative;
          background: #eee;
          height: 143px;
          float: left;
          margin-right: 3px;
          width: 143px;
          &:after {
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            -ms-border-radius: 3px;
            -o-border-radius: 3px;
            border-radius: 3px;
            -webkit-box-shadow: 0 0 3px rgba(0,0,0,0.33) inset;
            -moz-box-shadow: 0 0 3px rgba(0,0,0,0.33) inset;
            box-shadow: 0 0 3px rgba(0,0,0,0.33) inset;
            content: " ";
            height: 143px;
            left: 0;
            position: absolute;
            top: 0;
            width: 143px;
          }
          img {
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            -ms-border-radius: 3px;
            -o-border-radius: 3px;
            border-radius: 3px;
            height: 143px;
            width: 143px;
          }
        }
        .thumbHolder {
          position: relative;
          background-color: #eee;
          float: left;
          height: 71px;
          margin: 0 3px 3px 0;
          &:after {
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            -ms-border-radius: 3px;
            -o-border-radius: 3px;
            border-radius: 3px;
            -webkit-box-shadow: 0 0 3px rgba(0,0,0,0.33) inset;
            -moz-box-shadow: 0 0 3px rgba(0,0,0,0.33) inset;
            box-shadow: 0 0 3px rgba(0,0,0,0.33) inset;
            content: " ";
            height: 70px;
            left: 0;
            position: absolute;
            top: 0;
            width: 70px;
          }
          img {
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            -ms-border-radius: 3px;
            -o-border-radius: 3px;
            border-radius: 3px;
            height: 70px;
            width: 70px;
          }
        }
        .rightWrap {
          margin-right: 0;
        }
      }
    }
    .user-func-btns {
      position: absolute;
      width: 220px;
      bottom: 10px;
      left: 10px;
      input[type="submit"] {
        width: 100%;
        height: 35px;
      }
    }
  }

}
