<h1 class="big-title"><%=h @category.name %></h2>
 <div id="wrapper" class="BoardLayout" >
  <div id="ColumnContainer" >

    <section class="content">
      <%= render :partial => 'shared/photos_paginate', :locals => { :@category => @category, :@photos => @photos} %>
    </section>

  </div>
</div>
