<div class="row center search-row">
  <div class="span6" style="font-size: 20px;margin-top:5%">
    <a href =  "/search/?search=<%="#{params[:search]}" %>" style="text-decoration: underline;color: black">Box</a>
    ·
    <span class = "selected" style="color: #CB2027"> Name </span>
    ·
    <a href =  "/search/pin/?search=<%="#{params[:search]}" %>" style="text-decoration: underline;color: black">Pin</a>

    <span class = "greyselected" style="color: #8C7E7E" >   — search results for <%= "#{params[:search]}" %>  </span>
  </div>
</div>

<div class="content">
  <div class="user-in-boxes-holder">
    <% @users.each do |user| %>
      <%= render partial: "users/user_in_box" ,locals: {user: user} %>
    <%end%>
  </div>
</div>

