<div id="back_fader" onclick="event.target == this ? popupHide() : null;">
  <button class="btn btn-large closePopup" onclick="popupHide()">
    <em></em>
  </button>
  <div class="popup_content">
  </div>
</div>
