<div class="welcome_splash">
  <div class="content">
    <a href="#" class="logo"></a>
    <h2>Plan projects, start collections and more.</h2>

    <div class="joinButtons">
      <a href="/signin" class="login btn btn-large">Login</a>
      <a href="/signup" class="join btn btn-large btn-success">Join Ponterest</a>
    </div>
  </div>
  <div class="screenshot">
    <%= image_tag '/assets/screenshot.png' %>
  </div>
</div>

<style type="text/css">
  body {
    padding: 0;
    overflow: hidden;
  }
</style>
